/*! stylelint-disable */
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$purple-900: #3C1366;
$purple-800: #523E7B;
$purple-700: #5331A3;
$purple-500: #7448D1;
$purple-300: #A37CFA;
$purple-200: #C8C2FC;
$purple-100: #EEF0FF;
$purple-50: #F0EFF5;
.course-content ul.mawang {
    list-style: none;
    padding: 0;

    h3.sectionname {
        font-size: 1.35rem;
    }

    li.section {
        border: 0;
        margin-bottom: 1rem;

        &.editing {
            & > .course-section-header {
                border: 1px solid #dcdcdc;
                border-bottom: 0;
                border-top-left-radius: 0.5rem;
                border-top-right-radius: 0.5rem;
                padding: 0.5rem 0 0 0;
            }

            & > .course-content-item-content {
                display: flex;
                flex-direction: column;
                border: 1px solid #dcdcdc;
                border-top: 0;
                border-bottom-left-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;
            }
        }

        .section-image-sample {
            border-radius: 0.5rem;
            background-size: cover;
            background-position: center;
            width: 300px;
            height: 200px;
            margin-right: 0.5rem;
            position: relative;
            margin-left: 0.5rem;
        }

        .content {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }

        .section-edit-button {
            background-color: #f9f9f9;
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;

            &:hover,
            &:focus {
                background-color: #cacaca;
            }
        }

        .section-modchooser-link.activity-add {
            max-width: 50%;
            padding: 0 !important;
            background-color: transparent;
            border: 0;

            .pluscontainer {
                display: none !important;
            }
        }
    }
    .activity-item .activity-grid {
        grid-template-areas:
            "icon   name          groupmode      completion    actions"
            "icon   visibility    groupmode      completion    actions"
            "icon   dates         groupmode      completion    actions"
            "icon   altcontent    altcontent     altcontent    altcontent"
            "icon   afterlink     afterlink      afterlink     afterlink"
            "icon   availability  availability   availability  availability"
            "icon   duration     duration       duration      duration";
    }

    .activity-duration {
        grid-area: duration;
        grid-column: 2;
        margin-top: 0.5rem;
    }
    .changenumsections {
        margin-bottom: 1rem;
        margin-top: 1rem;
        border: 0;
    }

    .section_action_menu {
        display: flex;
        align-items: end;
    }

    li#section-0 {
        padding-bottom: 0.5rem;
    }

    .btn-icon.dropdown-toggle::after {
        display: none;
    }

    .tilesections {
        display: grid;
        grid-gap: 1rem;
        margin: 0 0.5rem;
        padding: 0;
        max-width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        grid-template-rows: auto;

        & > li.sectioncontent {
            display: none;

            &.show {
                display: block;
            }

            border: 1px solid #cdcaca;
            border-radius: 0.5rem;
            padding: 1rem;
        }

        .sectioncardbody {
            padding: 1rem 0.75rem;
            flex: 1 1 100%;
            .totalduration {
                position: absolute;
                bottom: 0.75rem;
                left: 0.75rem;
                padding: 6px 8px;
                background-color: #F8F8F8;
                border-radius: 10px;
            }
        }

        .tilecontent > div > .icons-collapse-expand {
            display: none;
        }

        .tilecontent > .btn-close {
            position: absolute;
            top: 0;
            right: 0;
        }

        & > li.show > .course-content-item-content.collapse {
            display: block;
            height: auto;
        }

        & > li.section {
            position: relative;
            margin: 0;
            border: 1px solid $gray-200;
            border-radius: 0.5rem;
            padding: 0;
            max-height: 340px;
            height: 340px;
            display: flex;
            flex-direction: column;

            .sectionprogress {
                top: 0.25rem;
                right: 0.25rem;
            }

            .section-restricted-badge {
                position: absolute;
                top: 1rem;
                left: 1rem;
                z-index: 100;
                font-size: 1rem;
            }

            .tiletext {
                text-decoration: none;
                flex: 0 0 100%;
                max-width: 100%;
                overflow: hidden;
                word-wrap: break-word;
                a {
                    &:hover,
                    &:focus {
                        text-decoration: none;
                    }
                    &::after {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        z-index: 1;
                        // Just in case `pointer-events: none` is set on a parent
                        pointer-events: auto;
                        content: "";
                        // IE10 bugfix, see https://stackoverflow.com/questions/16947967/ie10-hover-pseudo-class-doesnt-work-without-background-color
                        background-color: rgba(0, 0, 0, 0);
                    }
                }
            }

            > .course-section-header {
                padding: 1.5rem 1rem;
                flex: 1 0 100%;
                border-top-left-radius: 0.5rem;
                border-top-right-radius: 0.5rem;
                height: 140px;
                max-height: 140px;
                position: relative;
                overflow: hidden;

                h3.sectionname {
                    color: #fff;
                    background-color: rgba(0, 43, 92, .92);
                    padding: 1rem 1rem 1rem 14px;
                    border-left: 4px solid transparent;
                    font-size: 1.35rem;
                }

                .section-image-background {
                    position: absolute;
                    border-top-left-radius: 0.5rem;
                    border-top-right-radius: 0.5rem;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    pointer-events: none;
                    transition: filter 0.3s, transform 0.3s;
                }

                &:hover,
                &:focus {
                    cursor: auto;
                    outline: 0;
                }
            }

            &.show > .course-section-header h3 {
                border-left: 4px solid #007bff;
            }

            &.locked > .course-section-header {
                filter: grayscale(100%);

                .section-image-background {
                    opacity: 0.5;
                }

                h3.sectionname {
                    background-color: rgba(0, 43, 92, 0.4);
                }

                .sectionprogress {
                    display: none;
                }

                &:hover,
                &:focus {
                    &:before {
                        border: 0;
                    }
                }
            }
            .section-image-background {
                transition: filter 0.3s;
            }
            &:hover,
            &:focus {
                cursor: pointer;
                outline: 0;
                box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, .25);
                .section-image-background {
                    filter: brightness(1.05);
                }
            }
        }

        .btn-icon {
            background-color: #fff;
        }
    }

    .mawang-level-0,
    .mawang-level-1 {
        padding-left: 0;
    }

    @media screen and (max-width: 600px) {
        .activity-item:not(.activityinline) {
            border: 0;
        }
    }
}

.format-mawang {
    .separator {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .separator-icon {
        font-size: 0.3rem;
    }
}

.customfield-acc {
    color: #000;
    .card {
        border: 1px solid var(--light);
        border-radius: 0.5rem;
        margin-bottom: 1rem;
        .card-header,
        .card-header:first-child {
            padding: 0.5rem;
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
        }
        .card-header-text {
            font-weight: 600;
            color: $purple-700;
        }
        .btn.btn-icon.icons-collapse-expand {
            color: $purple-700;
            background-color: transparent;
            &:hover,
            &:focus {
                outline: 0;
                color: $purple-700;
                background-color: transparent;
            }
        }
    }
}

.format-mawang .form-filetypes-descriptions li {
    font-size: 0;
    display: inline;
    small {
        font-size: 12px;
    }
}
.format-mawang input[name="sectionimage"]~p {
    margin-bottom: 0;
}
body.format-mawang.limitedwidth #page.drawers .main-inner {
    max-width: 1280px;
}
.extracoursecontent {
    .teacherinfo {
        display: flex;
        .teacherinfo-picture {
            img {
                border-radius: 50%;
                width: 75px;
                height: 75px;
            }
        }
        .teacherinfo-description {
            margin-left: 1rem;
        }
    }
}

.mawang-progress-container {
    min-width: 250px;
    .progress {
        height: 10px;
    }
    .progress-text {
        font-size: 0.8rem;
    }
}
