{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_mawang/local/content

    Displays the complete course format.

    Example context (json):
    {
        "title": "Course",
        "initialsection": {
            "num": 0,
            "id": 34,
            "cmlist": {
                "cms": [
                    {
                        "cmitem": {
                            "cmformat": {
                                "cmname": {"displayvalue": "<a class=\"aalink\" href=\"#\"><span class=\"instancename\">Forum example</span></a>"},
                                "hasname": "true"
                            },
                            "cmid": 3,
                            "anchor": "module-3",
                            "module": "forum",
                            "extraclasses": "newmessages"
                        }
                    }
                ],
                "hascms": true
            },
            "iscurrent": true,
            "summary": {
                "summarytext": "Summary text!"
            }
        },
        "sections": [
            {
                "num": 1,
                "id": 35,
                "header": {
                    "title": "Section title",
                    "url": "#"
                },
                "cmlist": {
                    "cms": [
                        {
                            "cmitem": {
                                "cmformat": {
                                    "cmname": {"displayvalue": "<a class=\"aalink\" href=\"#\"><span class=\"instancename\">Another forum</span></a>"},
                                    "hasname": "true"
                                },
                                "cmid": 4,
                                "anchor": "module-4",
                                "module": "forum",
                                "extraclasses": "newmessages"
                            }
                        }
                    ],
                    "hascms": true
                },
                "iscurrent": true,
                "summary": {
                    "summarytext": "Summary text!"
                }
            }
        ],
        "format": "mawang",
        "sectionreturn": 1
    }
}}
{{> format_mawang/local/navigate_back_to }}
<link rel="stylesheet" type="text/css" href="{{{cssurl}}}">
{{#secondarymoremenu}}
    <div class="secondary-navigation d-print-none">
        {{> core/moremenu}}
    </div>
{{/secondarymoremenu}}

{{#tabcontent}}
    <div class="customfield-acc" id="tabcontent">
        {{#fields}}
            <div class="card">
                <div class="card-header d-flex" id="heading{{shortname}}">
                    <a role="button" data-toggle="collapse"
                        href="#coll{{shortname}}"
                        id="hcoll{{shortname}}"
                        aria-expanded="true"
                        aria-controls="coll{{shortname}}"
                        class="btn btn-icon mr-1 icons-collapse-expand justify-content-center stretched-link"
                        aria-label="{{name}}">
                        <span class="expanded-icon icon-no-margin p-2" title="{{#str}} collapse, core {{/str}}">
                            {{#pix}} t/expandedchevron, core {{/pix}}
                        </span>
                        <span class="collapsed-icon icon-no-margin p-2" title="{{#str}} expand, core {{/str}}">
                            <span class="dir-rtl-hide">{{#pix}} t/collapsedchevron, core {{/pix}}</span>
                            <span class="dir-ltr-hide">{{#pix}} t/collapsedchevron_rtl, core {{/pix}}</span>
                        </span>
                    </a>
                    <div class="sectionid-{{shortname}}-title card-header-text d-flex align-self-stretch align-items-center mb-0"
                        id="coursecontentsection{{shortname}}" data-for="section_title" data-id="{{shortname}}" data-number="{{shortname}}">
                        {{{name}}}
                    </div>
                </div>

                <div id="coll{{shortname}}" class="collapse show" aria-labelledby="heading{{shortname}}">
                    <div class="card-body">
                        {{{value}}}
                    </div>
                </div>
            </div>
        {{/fields}}
    </div>
{{/tabcontent}}
{{^tabcontent}}
{{^singlesection}}
<div class="course-warning my-5">
    <div class="alert alert-info" role="alert">
        <span class="iconwrapper icon-no-margin text-white">{{#pix}} i/info, core {{/pix}}</span>
        This course starts on Monday. You can view all of the course content now, but you will only be able to access the discussion forums on the scheduled day from 00:05 UTC*
    </div>
</div>

<h3 class="my-5">{{#str}}lessons, format_mawang{{/str}}</h3>
{{/singlesection}}
<div id="{{uniqid}}-course-format" data-mawang-accordion="{{{accordion}}}"
        data-mawang-mainsection="{{mainsection}}">

    <h2 class="accesshide">{{{title}}}</h2>
    {{{completionhelp}}}
    <ul class="{{format}} mawang-level-0" data-for="course_sectionlist">
        {{#initialsection}}
            {{> format_mawang/local/content/section }}
        {{/initialsection}}
        {{#editing}}
            {{#sections}}
                {{> format_mawang/local/content/section }}
            {{/sections}}
        {{/editing}}
        {{^editing}}
            <li class="tiles">
                <ul class="tilesections unlist">
                    {{#sections}}
                        {{#num}}
                            {{> format_mawang/local/content/tilesection }}
                        {{/num}}
                    {{/sections}}
                </ul>
            </li>
        {{/editing}}
    </ul>
    {{^singlesection}}
        <div class="extracoursecontent">
            <h3 class="my-5">{{#str}}coursetutor, format_mawang{{/str}}</h3>
            {{{teacherprofile}}}
        </div>
    {{/singlesection}}
    {{#hasnavigation}}
        <div class="single-section">
            {{#sectionnavigation}}
                {{> format_mawang/local/content/section }}
            {{/sectionnavigation}}
            <ul class="{{format}}">
                {{#singlesection}}
                    {{> format_mawang/local/content/section }}
                {{/singlesection}}
            </ul>
            {{#sectionselector}}
                {{$ format_mawang/local/content/sectionselector }}
                    {{> format_mawang/local/content/sectionselector }}
                {{/ format_mawang/local/content/sectionselector }}
            {{/sectionselector}}
        </div>
    {{/hasnavigation}}
    {{#bulkedittools}}
        {{$ core_courseformat/local/content/bulkedittools}}
            {{> core_courseformat/local/content/bulkedittools}}
        {{/ core_courseformat/local/content/bulkedittools}}
    {{/bulkedittools}}
</div>
{{/tabcontent}}
{{#js}}
    require(['format_mawang/local/content'], function(component) {
        component.init('{{uniqid}}-course-format', {}, {{sectionreturn}});
    });
    require(['format_mawang/local/section_edit_form'], function(component) {
        component.init();
    });
    require(['format_mawang/local/tiles'], function(component) {
        component.init();
    });
    require(['format_mawang/local/content/progress'], function(component) {
        component.init('{{uniqid}}-course-format', {});
    });
{{/js}}
