{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_mawang/teacherinfo

    A Teacher profile descriptions showing the teacher picture to the left
    And the contents of the teacher profile to the right.
    Example context (json):
    {
        "teacher": {
            "id": 1,
            "fullname": "John Doe",
            "picture": "<img src=\"/path/to/picture.jpg\" alt=\"John Doe\" />",
            "description": "<p>John Doe is a teacher with over 10 years of experience.</p>"
        }
    }
}}
<div class="teacherinfo">
    <div class="teacherinfo-picture">
        {{{ picture }}}
    </div>
    <div class="teacherinfo-description">
        <h4>{{{ fullname }}}</h4>
        <h5>{{{ fields.tqs }}}</h5>
        {{{ teacher.description }}}
    </div>
</div>