{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_mawang/local/content/progress

    TODO describe template progress

    Example context (json):
    {
    }
}}
<div class="mawang-progress-container" data-region="courseprogresscontainer" data-id="{{sectionid}}" data-progress="{{progress}}">
    <div class="progress">
        <div class="progress-bar mawang-progress" data-region="courseprogress" role="progressbar" style="width: {{#progress}}{{progress}}{{/progress}}{{^progress}}0{{/progress}}%" aria-valuenow="{{#progress}}{{progress}}{{/progress}}{{^progress}}0{{/progress}}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="progress-text">
        {{#str}}progress, format_mawang, {{progress}}{{/str}}
    </div>
</div>
